* {margin:0; padding:0;}
a{text-decoration: none;}
body{background-image: url(../img/bodyGround.jpg);}
form{background: rgb(255,255,255);}
.invisible{display: none;}
#blockBody{width: 100%; height: 100%; position: fixed; background: rgba(0,0,0, 0.5); z-index: 50;}
#blockContent{
	width: 100%;
	height: 10%;
	position: relative;
	top: 45%;
	color: rgb(135,206,250);
	text-align:center;
}
.text16{
	font-family: 'Inknut Antiqua', serif;
	font-size: 16px;
}
.tab-content{background-color:white;}

.alertaWidth{width:90%; height: 200px; font-size: 40px; font-family: 'Libre Baskerville', serif; background: rgba(255,99,71, 1); color: white;}

#logMsg{position:inherit; z-index:3000; width: 90%; height: 40px; font-size: 20px; text-align: center; background: rgba(250,128,114,1); color: white; border:1px solid rgb(220,220,220); border-radius: 5px; margin-left: 2%; padding: 3%; top: -270px;}

.success, .failed{width:90%; height:40px; position: absolute; z-index:3000; float:left;text-align: center; font-family: 'Inknut Antiqua', serif; border-radius: 5px; margin:0; display: none; margin-bottom:-30px}
.success{ background: rgba(152,251,152,1); color: rgba(0,128,0, 1);}
.failed{ background: rgba(255,160,122,1); color: rgba(255,0,0, 0.6);}
.produtosArea{width: 100%; border-top: 1px solid rgba(30,144,255,1); margin-top:5px ; margin-bottom: 5px;}


/*  CABEÇALHO  */

header{width:100%; height:80px; background:rgba(0,0,0,0.8); position:relative; border-bottom:1px solid black; box-shadow: 0 10px 20px black;}
#logo img{width:20%; position:relative;float:left; left:1.5%; top:10px;}
#title{width:60%;font-size:22px;position:relative; text-align:center; top:30%; float:left; color:rgba(255,255,255,1); font-family: 'Lobster Two', cursive;}
#btnMenu{position:relative; width:18%;float:right; text-align:center; top:30%; color:white;}



/*MENU DA PÁGINA*/

#menu{width:100%; height:100%;position:fixed; z-index:5; top:0;background:rgba(255,255,255,1);}
#btnClose{color:rgba(30,144,255,1); position:relative; float:right; top:15px;right:10px;}
#menuLista{position:relative; top:60px; font-size:22px; margin:25px;}
#menuLista .menuItem{width:43%;  margin:10px; height:200px; text-align:center; position:relative; float:left; /*border:1px solid gray;*/ border-radius:10px;  background:rgba(30,144,255,1); box-shadow: 5px 5px 10px gray;}
.menuItem i{margin-top:55px;}
#menuLista a{text-decoration:none; color:white;}



/*MENU SECUNDÁRIO DA PÁGINA*/

#menuHome{width:100%;position:relative; z-index:-1;float:left;top:-20px; }
#btnCloseHome{color:white; position:relative; float:right; top:15px;right:10px;}
#menuListaHome{position:relative;margin-bottom:20px; font-size:22px; margin:25px;}
#menuListaHome .menuItemHome{width:43%;  margin:10px; height:200px; text-align:center; position:relative; float:left; /*border:1px solid gray;*/ border-radius:10px;  background:rgba(30,144,255,1); box-shadow: 5px 5px 10px gray;}
.menuItemHome i{margin-top:55px;}
#menuListaHome a{text-decoration:none; color:white;}




/* FORMULÁRIO DE LOGIN*/

content {width:100%; top:25px; position:relative;}
content #frmLogin{border:1px solid gray; width:80%; margin-left:8%; height:380px; border-radius:15px;}
#frmLogin #lblTitle{width:100%;top:15px;position:relative;  font-family: 'Josefin Sans', sans-serif; text-align:center;}
#frmLogin #lblLogin, #lblSenha{font-family: 'Josefin Sans', sans-serif; position:relative; left:10%; color:rgba(169,169,169,0.8);}
#frmLogin #txtLogin, #txtSenha{width:80%; height:40px; font-family: 'Josefin Slab', serif; border:none;border-bottom:1px solid rgba(0,0,128, 0.8); margin-left:7%; padding-left:15px; font-size: 26px;}
#frmLogin #btnLoginEnviar{width:83%; height:40px; position:relative;border:none; left:7%; background:rgba(30,144,255,1); border-radius:10px; color:white; font-family: 'Josefin Sans', sans-serif; font-size:18px;}



/*FORMULÁRIO DE CLIENTE*/

#controleClientes, #filtroListaVendas{width:100%;  position:relative; padding-bottom:80px;}
#controleClientes h2, #TitleVendas{position:relative; font-family: 'Josefin Sans', sans-serif; text-align:center; top:18px; text-shadow:0 10px 7px rgba(0,255,255, 0.5) ; color: rgb(0,0,205); }
#titleFrmVendas{position:relative; height:40px; font-family: 'Josefin Sans', sans-serif; text-align:center; top:10px; text-shadow:0 10px 7px rgba(0,0,128, 0.5) ; margin-bottom:5%; border-bottom:1px solid rgba(30,144,255,1); }
#cliente, #frmVenda, #frmConsVenda, #frmFiltroVendas{position:relative; top:15px; border:0.8px solid gray; border-radius:10px; width:90%; margin:4%; padding:5px;}
#cliente #lblnome, #lblCPF, #lblDtNascimento, #lblGenero, #lblTelefone, #lblEmail, #lblEndereco, #lblNumero, #lblComplemento, #lblBairro, #lblCEP, #lblCidade, #lblUf, .lblSelFiltro {
	
	/*LABELS DO FORMULÁRIO DE CLIENTE*/
	font-family: 'Josefin Sans', sans-serif;
	position:relative;
	color:rgba(128,128,128,1);
	left:5%;
	top:10px;
	
}
#cliente #txtNome, #txtCPF, #txtDtNascimento, #genero, #txtTelefone, #txtEmail, #txtEndereco, #txtNumero, #txtComplemento, #txtBairro,#txtCEP,  #txtCidade, #UF, #opcaoListagem, #CPFLista, #dataLista, #newPass, #newPassConfirm{
	
	/*INPUTS DO FORMULÁRIO DE CLIENTE*/
	font-family: 'Josefin Slab', serif;
	font-size:22px;
	position:relative;	
	border:none;
	border-bottom:1px solid rgba(0,0,128, 0.8);
	background:none;
	left:5%;
	top:10px;
	height:35px;
	padding-left:2%;
	
}
#txtNome{width:90%;}
#txtDtNascimento{width:37%;}
#lblGenero{margin-left:12%;}
#genero{margin-left:50px;}
#txtEndereco{width:90%;}
#txtNumero{width:18%;}
#lblComplemento{margin-left:15%;}
#txtComplemento{margin-left:3%; width:66%;}
#txtBairro{width:57%;}
#txtCEP{width:35%;}
#txtCidade{width:57%;}
#lblUf{margin-left:48%;}
#UF{width:25%; margin-left:2.5%;}

#btnInserirCliente, #btnPesquisarCliente, #btnListarCliente, #btnRegistrarVenda, #btnConfirarPagamento, .btnMenuVendas, #btnFiltroListagem, #btnAddItem, #btnEnviar{
	
	/*BOTÕES DO FORMULARIO DE CONTROLE DE CLIENTES*/
	
	width:86%; 
	height:40px; 
	position:relative;
	border:none; 
	left:5%; 
	background:rgba(30,144,255,1); 
	border-radius:10px; 
	color:white; 
	font-family: 'Josefin Sans', sans-serif; 
	font-size:18px;
	margin-bottom:2%;
	cursor:pointer;
}
#menuVendas{
	position:relative;
	margin-top:10%;
}

.btnMenuVendas{
	margin-bottom:2%;
}

/*CONTROLE DE VENDAS*/
#btnFecharRegistroVendas, #btnFecharConsultaVendas, #btnFecharListaVendas{
	width:40%; 
	height:40px; 
	position:relative;
	border:none; 
	left:56%; 
	background:rgba(30,144,255,1); 
	border-radius:10px; 
	color:white; 
	font-family: 'Josefin Sans', sans-serif; 
	font-size:18px;
	margin-bottom:-8.5%;
	cursor:pointer;
}

#lblCodVenda, #lblValorTotal, #lblCodProduto, #lblNmProduto, #lblValorProduto, #lblQtProduto, #lblCPFV, #lblMtPagamento, #lblDtPagamento{
	font-family: 'Josefin Sans', sans-serif; 
	position:relative; 
	left:5%; 
	top:10px;
	color:rgba(169,169,169,0.8);
}

#txtCodVenda, #txtValorTotal, #txtCPFV,  #txtMtPagamento, #txtDtPagamento{
	
	font-family: 'Josefin Slab', serif;
	font-size:19px;
	position:relative;	
	border:none;
	border-bottom:1px solid rgba(0,0,128, 0.8);
	background:none;
	left:5%;
	top:10px;
	height:35px;
	padding-left:2%;
	
}
#frmVenda .txtCodProduto, .txtNmProduto, .txtValorProduto, .txtQtProduto{
	font-family: 'Josefin Slab', serif;
	font-size:19px;
	position:relative;	
	border:none;
	border-bottom:1px solid rgba(0,0,128, 0.8);
	background:none;
	left:5%;
	top:10px;
	height:35px;
	padding-left:2%;
}
#txtCodVenda, #txtValorTotal, #txtValorProduto, #txtQtProduto, #txtDtPagamento{width:25%;}
#lblValorTotal{margin-left:38%;}
#txtValorTotal{margin-left:35%; color:rgba(50,205,50,1); font-weight:bold;}
.txtCodProduto{width:25%;}
#lblValorProduto{margin-left:5%;}
#lblQtProduto{margin-left:20%;}
.txtValorProduto, .txtQtProduto{margin-left:4%;}
.txtValorProduto{width:25%;}
.txtNmProduto{width:87%; margin-bottom: 5%;}
#txtCPFV{width:37%;}
#lblMtPagamento{margin-left:35%;}
#txtMtPagamento{margin-left:10%; width:35%;}


/*LISTAGEM DE VENDAS REALIZADAS*/
#listagemVendas{width: 100%; position:relative; top:30px; margin-bottom: 80px;}
#listaVendas, th, tr, td{height: 40px; border-collapse: collapse;}
#listaVendas tr:nth-child(even){
	background: rgba(211,211,211, 0.4);
}
#listaVendas tr:nth-child(odd){
	background:rgba(255,255,255,1);
	border-bottom:1px solid rgba(169,169,169,1);
}
#listaVendas th{background: rgba(211,211,211, 0.4);}
#listaVendas tr:hover{background: rgba(192,192,192,0.8); cursor: pointer;}
#listaVendas{width: 90%; margin-left: 4.5%; margin-top: 50px;}
.listaVendasTheadCaption{font-family: 'Josefin Sans', sans-serif; font-size: 20px;}
#listaVendasCaptionItems{font-family: 'Josefin Sans', sans-serif; }
td{width: auto; padding-left: 5px; font-family: 'Josefin Slab', serif;}
.ListaVendasTotalCaption, .ListaVendasTotalValor{font-weight: bold; font-family: 'Josefin Sans', sans-serif;}
.ListaVendasTotalValor{text-align: right; padding-right: 7px; }






/* RODAPÉ*/
footer{width:100%; height:115px; background:rgba(0,0,0,1); float:left;position:relative; top:25px; color:white; font-family: 'Josefin Slab', serif; text-align:center;padding-top:15px;bottom: 0; margin-top:55px;}